@import url(normalize.css);

@font-face {
  font-family: 'chunkfive_printregular';
  src: url('fonts/chunk_five_print-webfont.woff2') format('woff2'),
       url('fonts/chunk_five_print-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'courier_primeregular';
  src: url('fonts/courier_prime-webfont.woff2') format('woff2'),
       url('fonts/courier_prime-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  --header-font: 'chunkfive_printregular';
  --main-font: 'courier_primeregular';
  --bg-color: #ececec;
}

body {
  box-sizing: content-box;
  font-family: var(--main-font);
  background-color: var(--bg-color);
  height: 100vh;
}

.main-header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  box-shadow: gray 2px 2px 5px;
  padding: 2em;
  margin-bottom: 2em;
  gap: 0.8em;

  & h2, & p {
    font-family: var(--header-font);
    margin: 0;
  }

  & h2 {
    font-size: clamp(1rem, 1vw + 2rem, 3rem);
  }
}

.add-book-btn-container {
  width: 100%;
  display: grid;
  place-content: center;
}

button.add-book, 
.add-book-form .confirm-add-book-btn button,
.update-book-form .confirm-update-book-btn button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: clamp(1.2rem, 1vw + 0.8rem, 2rem);
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

button.add-book::before,
.add-book-form .confirm-add-book-btn button::before,
.update-book-form .confirm-update-book-btn button::before {
  content: '';
  display: inline-block;
  height: clamp(1.2rem, 1vw + 0.8rem, 2rem);
  width: clamp(1.2rem, 1vw + 0.8rem, 2rem);
  background: url(icons/plus.svg) no-repeat center;
  background-size: contain;
  position: relative;
  bottom: 2px;
}

button.add-book:hover::before,
.add-book-form .confirm-add-book-btn button:hover::before,
.update-book-form .confirm-update-book-btn button:hover::before {
  background: url(icons/plus-box.svg) no-repeat center;
}

button.add-book::after,
.add-book-form .confirm-add-book-btn button::after,
.add-book-form .text-input::after,
.update-book-form .confirm-update-book-btn button::after,
.update-book-form .text-input::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

button.add-book:hover::after,
.add-book-form .confirm-add-book-btn button:hover::after,
.add-book-form .text-input:focus-within::after,
.update-book-form .confirm-update-book-btn button:hover::after,
.update-book-form .text-input:focus-within::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.add-book-form-dialog, .update-book-form-dialog {
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
  border-radius: 15px;
  position: relative;
  padding: 2.5em;
  overflow: hidden;
}

.add-book-form-dialog.scale-up, .update-book-form-dialog.scale-up {
  transform: scaleY(1);
}

.close-dialog {
  cursor: pointer;
  color: transparent;
  height: 1.5em;
  width: 1.5em;
  border: none;
  background-color: none;
  background: url(icons/close-box-outline.svg) center no-repeat;
  background-size: contain;
  position: absolute;
  top: 5px;
  right: 5px;
}

.close-dialog:hover {
  background: url(icons/close-box.svg) center no-repeat;
}

.add-book-form, .update-book-form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
  align-items: center;

  & .title,
  & .author,
  & .pages,
  & .is-read {
    width: 100%;
  }

  & .title,
  & .author,
  & .pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .is-read {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
}

.add-book-form input, .update-book-form input {
  border: none;
  outline: none;
}

.add-book-form .text-input, .update-book-form .text-input {
  position: relative;
}

input[type="checkbox"].is-read_checkbox{
  font-size: 1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 3em;
  height: 1.5em;
  background: #ddd;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }
  
input[type="checkbox"].is-read_checkbox:checked{
  background: #0ebeff;
}

input[type="checkbox"].is-read_checkbox:after{
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
          box-shadow: 0 0 .25em rgba(0,0,0,.3);
  -webkit-transform: scale(.7);
          transform: scale(.7);
  left: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type="checkbox"].is-read_checkbox:checked:after{
  left: calc(100% - 1.5em);
}

.book-list {
  margin: 2em;
}

.book-list_data {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 1.5em;
  padding: 0;
}

.book-list_data .book-card {
  background-color: white;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #242424;
}

.book-list_data .book-card .title {
  font-weight: bold;
}

.book-list_data .book-card > button {
  padding: 0.3em;
  width: 80%;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;
  font-family: var(--header-font);
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  transition: filter 0.25s ease-out;
}
.book-list_data .book-card > button:hover {
  filter: brightness(85%);
}
.book-list_data .book-card > button::before {
  content: '';
  width: 1.5em;
  height: 1.5em;
  background-size: contain;
  display: inline-block;
}

.book-list_data .book-card button.update_btn {
  background-color: #0ebeff;
}
.book-list_data .book-card button.update_btn::before {
  background: url(icons/book-edit.svg) center no-repeat;
}

.book-list_data .book-card button.delete_btn {
  background-color: #ff6262;
}
.book-list_data .book-card button.delete_btn::before {
  background: url(icons/delete.svg) center no-repeat;
}

.book-list_data .book-card .book-entry_is-read {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

@media (min-width: 720px) {
  .main-header {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 6em;
  }

  .book-list {
    margin: 2em 6em;
  }
}
